<div>
  <ol>
    <li *ngFor="let item of breadcrumbList; let i = index">
      <a [routerLink]="item.path" *ngIf="i!==breadcrumbList.length-1">
        {{ item.name }}
      </a>
      <span *ngIf="i===breadcrumbList.length-1">{{ item.name }}</span>
    </li>
  </ol>
</div>