<mat-toolbar class="back-light justify-content-spacebetween">
    <a class="link-home font-Roboto indigo-bold center" [routerLink]="['/dashboard','inicio']">
        <img class="img" src="../../../../assets/img/logor.png" alt="logo"> Raudo
    </a>
    <div class="actions">
        <mat-form-field class="searcher">
            <input matInput placeholder="Buscar">
        </mat-form-field>
        <button mat-icon-button color="primary">
            <mat-icon aria-label="Example icon-button with a heart icon">search</mat-icon>
        </button>
        <div>
            <mat-icon (click)="view = !view" class="bell" matBadge="{{list.length}}" matBadgeColor="primary">notifications</mat-icon>
            <div *ngIf="view" class="list-group notifications-list mat-elevation-z8">
                <app-nofications *ngFor="let item of list" [request]="item"></app-nofications>
            </div>
        </div>
        <div class="user">
            <a [routerLink]="['perfil']">{{username}}</a>
            <img class="avatar" [src]="img | imagen" alt="">
        </div>
        <button class="log-out" mat-button (click)="logOut()">
            <p>Cerrar sesión</p>
        </button>
    </div>
</mat-toolbar>

