<section class="conversation grid grid--conversation">
  <div class="conversation__name flex flex--left mat-elevation-z8">
    <img class="avatar" [src]="user.img | imagen:'cab'" alt="avatar">
    <h6 class="username">{{user.driver.name}} {{user.driver.last_name}}</h6>
    <mat-divider></mat-divider>
  </div>
  <cdk-virtual-scroll-viewport class="conversation__data" [itemSize]="50">
    <div
    class="message" 
    [ngClass]="{'partner-message': message.from != currentUser._id, 'user-message': currentUser._id == message.from}" 
    *ngFor="let message of messages">
    <p>
      {{ message.text }}
    </p>
    <p class="hour">{{ message.created_at | date:'shortTime' }}</p>
    </div>
    
    <mat-divider></mat-divider>
  </cdk-virtual-scroll-viewport>
  <div class="conversation__controls">
    <mat-form-field class="control__message">
      <input #txtMessage matInput placeholder="Escribe un mensaje">
    </mat-form-field>
    <button (click)="sendMessage()" mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</section>

Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum voluptatibus laboriosam, aliquid non sequi accusantium consequuntur aliquam qui aspernatur quo nulla neque dolorum, quas minima perferendis suscipit id reprehenderit sint.