<header class="header header--background mat-elevation-z8">
  <nav class="nav-menu">
    <button (click)="mostrarOcultar()" #btnmenu class="menu"><i class="fas fa-bars"></i></button>
    <ul class="nav-list">
      <li class="nav-list-logo font-Roboto ">
        <a class="indigo-bold" [routerLink]="['home']"
          ><img
            class="logo-brand"
            src="../../../../assets/img/logor.png"
            alt="Icono Taximex"
          />
          <p class="brand-message">Raudo</p></a
        >
      </li>
      <div class="nav-list-items-important">
        <li routerLinkActive="link-active" class="nav-list-item font-Roboto">
          <a class="dark-bold" [routerLink]="['home']">Inicio</a>
        </li>
        <li routerLinkActive="link-active" class="nav-list-item font-Roboto">
          <a class="dark-bold" [routerLink]="['inicio-sesion','iniciar']">
            Iniciar sesión
          </a>
        </li>
        <li routerLinkActive="link-active" class="nav-list-item font-Roboto">
          <a class="dark-bold" [routerLink]="['help']">
            Ayuda
          </a>
        </li>
      </div>
    </ul>
  </nav>
</header>

<div *ngIf="activo">
  <ul class="side-nav">
    <li routerLinkActive="link-active" class="nav-list-item font-Roboto">
      <a class="dark-bold" [routerLink]="['home']">Inicio</a>
    </li>
    <li routerLinkActive="link-active" class="nav-list-item font-Roboto">
      <a class="dark-bold" [routerLink]="['inicio-sesion','iniciar']">Iniciar sesión</a>
    </li>
    <li routerLinkActive="link-active" class="nav-list-item font-Roboto">
      <a class="dark-bold" [routerLink]="['help']">Ayuda</a>
    </li>
  </ul>
</div>
