/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
    margin:0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
}

:root{
    --primary-color: #3F51B5;
    --dark-primary-color: #303F9F;
    --accent-color: #FF4081;
    --text-icons: #FCFCFC;
    --light-primary-color: #C5CAE9;
}

body{
    width: 100%;
    height: 100vh;
}

.font-header{
    font-size: 3em;
}

.font-text{
    font-size: 1.2em;
}

.font-Roboto{
    font-family: "Roboto";
}

.background-gradient{
    background: linear-gradient(45deg, var(=--primary-color) 0%, var(--dark-primary-color) 100%);
}

.background-dark{
    background: rgba(10,10,10,0.85);
}

.background-darken{
    background: rgba(10, 10, 10, 0.9);
}

.white-bold{
    color: white;
    font-weight: 1.5em;
}

.dark-bold{
    color: black;
    font-weight: 1.5em;
}

.indigo-bold{
    color: var(--primary-color);
    font-weight: 1.5em;
}

.link-active > a{
    padding: 1.2em 0.4em;
    color:  var(--primary-color);
}

.border-primary {
    border: 1.5px solid var(--primary-color);
    border-radius: 1vh 1vh 0 0;
    display: block;
}

.border-primary-normal{
    border: 1.5px solid var(--dark-primary-color);
}


.fade-in{
    animation: fadeIn 1.5s ease-in-out 0.5s;
}

.fast{
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.slow{
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    60%{
        opacity: 0.7;
    }

    100%{
        opacity: 1;
    }
}

.border-primary-normal{
    border: 2px solid var(--primary-color);
    display: block;
}